/* NavigationBar.css */

/* --- Header / Nav Bar --- */
.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: center; /* center the wrapper in nav bar */
  gap: 1rem;
  padding: 0.5rem;
  padding-top: 1rem; 
  background-color: var(--widget-bg); /* optional */
  border: 1px solid var(--border-color, #ccc);
  font-family: var(--font-family, system-ui);
  border-radius: var(--radius-md);
}


.nav-items-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem; /* spacing between items */
}
