
.task-list-item {
  display: flex;
  flex-direction: column;
  width: 100%;        
}

.task-row-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;     
}

.task-title {
  font-weight: 500;
}

.task-description {
  margin-top: 4px;
  font-size: 0.85rem;
  opacity: 0.75;
  width: 100%;
  font-family: var(--font-family);   
  color: var(--secondary-text-color);     
}
